.pp-thumbs-img-wrapper {
  display:flex;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
  border: solid 1px transparent;
  &:hover {
    border: solid 1px #8a8;
    background: #dfd;
  }

  .pp-thumbs-name {
    flex: 1 1 auto;
    padding:1rem;
  }
  .pp-thumbs-thumb {
    flex: 0 0 600px;
    padding:1rem;
    img {
      display:block;
      width:100%;
      height:auto;
    }
  }
}
